<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Connect</servlet-name>
        <servlet-class>connection.Connect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auto_Gen_ID</servlet-name>
        <servlet-class>connection.Auto_Gen_ID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sign_Up</servlet-name>
        <servlet-class>connection.Sign_Up</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login2</servlet-name>
        <servlet-class>connection.Login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMyAccount</servlet-name>
        <servlet-class>connection.EditMyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>connection.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCab</servlet-name>
        <servlet-class>connection.BookCab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverDetails</servlet-name>
        <servlet-class>connection.DriverDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>connection.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMyAccount1</servlet-name>
        <servlet-class>connection.EditMyAccount1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccount</servlet-name>
        <servlet-class>connection.GetAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCabReply</servlet-name>
        <servlet-class>connection.BookCabReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>connection.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Driverarea</servlet-name>
        <servlet-class>connection.Driverarea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connect</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auto_Gen_ID</servlet-name>
        <url-pattern>/auto_Gen_ID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sign_Up</servlet-name>
        <url-pattern>/sign_Up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login2</servlet-name>
        <url-pattern>/login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMyAccount</servlet-name>
        <url-pattern>/editMyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCab</servlet-name>
        <url-pattern>/bookCab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverDetails</servlet-name>
        <url-pattern>/driverDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMyAccount1</servlet-name>
        <url-pattern>/editMyAccount1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccount</servlet-name>
        <url-pattern>/getAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCabReply</servlet-name>
        <url-pattern>/bookCabReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Driverarea</servlet-name>
        <url-pattern>/driverarea</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
